mysql
mysqlclient
mysql-connector-python
pymysql
MySQL-python
Flask
pandas
lxml
holidays
datapackage
py3-validate-email
validate_email
protobuf>=4.25.8 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.5.0 # not directly required, pinned by Snyk to avoid a vulnerability