mysql
mysqlclient
mysql-connector-python
pymysql
MySQL-python
Flask
pandas
lxml
holidays
datapackage
py3-validate-email
validate_email
werkzeug>=3.0.1 # not directly required, pinned by Snyk to avoid a vulnerability