mysql
mysqlclient
mysql-connector-python
pymysql
MySQL-python
Flask
pandas
lxml
holidays
datapackage
py3-validate-email
validate_email
dnspython>=2.6.0rc1 # not directly required, pinned by Snyk to avoid a vulnerability