{% block header %}
<header>
        <div id="title" class="lined">
            <img src="{{url_for('static', filename='logo.png')}}" id="logo" class="lined" onclick='window.location = window.location.origin' style="cursor: pointer;">
            <div class="lined" style="vertical-align: middle; width: 70%;">
                <div id="searchresult">
                    <ul id='sresults'>
                        
                    </ul>
                </div>
                <input type="text" name="search" id='search' placeholder="Search" class="lined">
                <button class="btn btn-secondary" type="button" id="go">
                     <i class="fa fa-search"></i>
                </button>
            </div>
            

        </div>
        <nav class="lined">
            <ul class="lined">
                <li class='navli'>Portfolio</li>
                <li class='navli'>History</li>
                <li class='navli'>Account</li>
            </ul>
        </nav>
    </header>
{% endblock %}