<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/styles/main.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/watch.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/lost.css">
    <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
    <title>Oops!!</title>

</head>

<body>
    
    {%include "header.html"%}


    <script type="text/javascript" src="/static/js/nav.js"></script>
</body>

</html>