<!DOCTYPE html>
<html>

<head> 
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/styles/main.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/watch.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/landing.css">
     <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Welcome to STONKS!</title>

</head>

<body>
    <section>
        <article id="adela" class="lined">
            <img src="/static/girl.png">
        </article>
        <article id="slogan" class="lined">
            <h2>Ready to <span class="jump"></span>learn how to<span class="jump"></span> invest?</h2>
            <input type="button" id="start" value="Start Here">
        </article>
    </section>

    <script type="text/javascript" src='/static/js/landing.js'></script>
</body>

</html>