<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/styles/main.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/watch.css">
    <link rel="apple-touch-icon" sizes="57x57" href="/static/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/staitc/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/staitc/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/staitc/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/staitc/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/staitc/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/staitc/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/staitc/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/staitc/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/staitc/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/staitc/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/staitc/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/staitc/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" type="text/css" href="/static/styles/main.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/landing.css">
    <title>Welcome to STONKS!</title>

</head>

<body>
    <header>
        <div id="title" class="lined">
            <img src="{{url_for('static', filename='logo.png')}}" id="logo" class="lined" onclick='window.location = window.location.origin' style="cursor: pointer;">
            <h1 class="lined">Stonks!</h1>
        </div>
        <nav class="lined">
            <ul>
                <li></li>
            </ul>
        </nav>
    </header>
    <section>
        <article id="adela" class="lined">
            <img src="/static/girl.png">
        </article>
        <article id="slogan" class="lined">
            <h2>Ready to <span class="jump"></span>learn how to<span class="jump"></span> invest?</h2>
            <input type="button" id="start" value="Start Here">
        </article>
    </section>
</body>

</html>