<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/styles/main.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/lost.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/watch.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/menu.css">
    <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
    <title>STONKS!</title>

</head>

<body>
    <header>
        <div id="title" class="lined">
            <img src="{{url_for('static', filename='logo.png')}}" id="logo" class="lined" onclick='window.location = window.location.origin' style="cursor: pointer;">
            <input type="text" name="search" id='search' placeholder="Search" class="lined">
            <input type="button" name="go" id='go' class="lined">

        </div>
        <nav class="lined">
            <ul class="lined">
                <li class='navli'>Portfolio</li>
                <li class='navli'>Messages</li>
                <li class='navli'>Account</li>
            </ul>
        </nav>
    </header>
    <section>
        <article id="stocklist">
            <h1>Stock list</h1>
            <ul id="hotul">
                        
            </ul>
        </article>
        <aside id="sections">
            <ul>
                <li class='newsindex'>Technology and Media</li>
                <li class='newsindex'>Pharma</li>
                <li class='newsindex'>Crypto</li>
                <li class='newsindex'>Cannabis</li>
                <li class='newsindex'>Energy</li>
                <li class='newsindex'>Index ETF's</li>
            </ul>
        </aside>
    </section>


    <script type="text/javascript" src="/static/js/nav.js"></script>
    <script type="text/javascript" src='/static/js/menustocklist.js'></script>
</body>
</html>