<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	 <link rel="stylesheet" type="text/css" href="/static/styles/main.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/watch.css">
	<link rel="stylesheet" type="text/css" href="/static/styles/login.css">
	<title>STONKS! ~ Log in</title>
</head>
<body>
	<section>
		<article id="backgroundlg" class="lined">
			<div class="fade">
            </div>
            <img src="{{url_for('static', filename='lorem.jpg')}}">
		</article>
		<article id="loginform" class="lined">
            <img src="{{url_for('static', filename='logo.png')}}" id="logo">
            <h2>Log In to STONKS!</h2>
            <form form action="/login" method="post">
                <input type="text" name="user" id="user" placeholder="Username">
                <input type="password" name="password" placeholder="Password">
                <h3 class="subtext">Forgot your password? <a href="/restore">Click here</a></h3>
                <input type="submit" value="Log In">
            </form>
		</article>
	</section>
</body>
</html>