<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/styles/main.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/watch.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/portfolio.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
	<title>Portfolio</title>
</head>
<body>
	<header>
        <div id="title" class="lined">
            <img src="{{url_for('static', filename='logo.png')}}" id="logo" class="lined" onclick='window.location = window.location.origin' style="cursor: pointer;">
            <div class="lined" style="vertical-align: middle; width: 70%;">
                <div id="searchresult">
                    <ul id='sresults'>
                        
                    </ul>
                </div>
                <input type="text" name="search" id='search' placeholder="Search" class="lined">
                <button class="btn btn-secondary" type="button" id="go">
                     <i class="fa fa-search"></i>
                </button>
            </div>
            

        </div>
        <nav class="lined">
            <ul class="lined">
                <li class='navli'>Portfolio</li>
                <li class='navli'>History</li>
                <li class='navli'>Account</li>
            </ul>
        </nav>
    </header>
    <section id='portfoliocontainer'>
    	<article id='profit'>
    		<div class="lined moneyholder">
    			<span class='teller'>Total investment</span>
    			<span class='teller moneytell'>${{total_invested}}</span>
    		</div>
    		<div class="lined moneyholder">
    			<span class='teller'>Current value</span>
    			<span class='teller moneytell' >${{current_value}}</span>
    		</div>
           
                {% if earnings > 0 %}
                    <div class='totalearned' style='color:rgb(105, 226, 51);'>+{{earnings}}</div>
                {% elif earnings < 0 %}
                    <div class='totalearned' style='color:rgb(255, 46, 25);'>{{earnings}}</div>
                {% else %}
                    <div class='totalearned' >0</div>
                {% endif %}

    	</article>


    	<article id='portfolio'>
    		{% for item in portfolio %}
    			<div class='portfolioitem'>
    				{%set symbol = item['symbol']%}
    				<div class="stockinformation lined" style='cursor:pointer' onclick='goto("{{symbol|string}}")'>
    					<div>
    						<span class='stockname'>{{item['name']}}</span>
    						<span class='stocksymbol'>{{item['symbol']}}</span>
    					</div>
    					<div>
    						<span class="price">Bought price: <span class='bghtp'>{{item['boughtprice']}}</span> QTY: <span class="qty">{{item['quantity']}}</span></span>
    					</div>
    					
    				</div>
    				<div class='sell lined'>
                        {% if item['earnings'] > 0 %}
                            <span class='earnedd' style='color:rgb(105, 226, 51); font-family: "sans-serif";'>+{{item['earnings']}}</span>
                        {% elif item['earnings'] < 0 %}
                            <span class='earnedd' style='color:rgb(255, 46, 25); font-family: "sans-serif"'>{{item['earnings']}}</span>
                        {% else %}
                            <span class='earnedd' style='font-family: "sans-serif"'>0</span>
                        {% endif %}
                    
    				<form action='/sell' method="post" class="lined">
                   		 <input type="number" class="sellshare" name='sellshare' placeholder="0" max="{{item['quantity']}}" min='0'/>
                   		 <input style='display:none' name='stock' value="{{item['symbol']}}">
                         <input style='display:none' name='date' value="{{item['date']}}">
                   		 <button class="moveshare" >Sell Share!</button>
                	</form>
    			</div>
    			</div>
    			

    		{% endfor %}
    	</article>
    </section>
     <script type="text/javascript" src="/static/js/nav.js"></script>
     <script type="text/javascript">
     	function goto(symbol){
            symbol = symbol['symbol']
     		console.log(symbol); 
     		window.location.href = window.location.origin + '/stocks/' + symbol
     	}
     </script>
     <script type="text/javascript" src='/static/js/update_stocks.j  s'></script>
</body>
</html>