<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/styles/main.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/watch.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
    <title>{{code}} - Stonkey</title>
</head>

<body>
    <header>
        <div id="title" class="lined">
        	<img src="{{url_for('static', filename='logo.png')}}" id="logo" class="lined">
        	<h1 class="lined">Stonks!</h1>
        </div>
        <nav class="lined">
            <ul>
                <li></li>
            </ul>
        </nav>
    </header>
    <section>
        <article class="lined">
        	<div id="info">
        		<h2 id="companyname"></h2>
        		<h3 id="price" class="lined"></h3><h3 id="stockname" class="lined">{{code}}</h3>
        	</div>
            
            <div class="container" id='stock'>
                <canvas id="chart"></canvas>
            </div>
            <form>
            	<input type="button" class="time" id="week" value="Last Week">
            	<input type="button" class="time" id="month" value="Last Month">
            	<input type="button" class="time" id="year" value="Last Year">
            </form>
        </article>
        <aside class="lined" id="otherstocks">
            <h3>Other Stocks</h3>
        </aside>
    </section>
   <script type="text/javascript">
    function getDate() {
        let today = new Date();
        return today.getFullYear() + '-' + (today.getMonth() + 1) + '-' + today.getDate() + ":" + today.getHours() + "-" + today.getMinutes() + "-" + today.getSeconds();
    }


    let mychart = document.getElementById("chart").getContext("2d");
    let name = document.getElementById('stockname').innerText;
    Chart.defaults.global.defaultFontColor = 'white';
    Chart.defaults.global.legend.display = 0;
   
    let chart = new Chart(mychart, {
        type: "line",
        data: {
            labels: [],
            datasets: [{
                data: [],
                label: name,
                borderColor: "#ffff00",

            }]

        },
        options: {
    		scales: {
       		xAxes: [{
       			display: false
       		}]
    	},
    	tooltips: {
        callbacks: {
           label: function(tooltipItem) {
                  return tooltipItem.yLabel;
           }
        }
    }
}
    });



    function ChangeValue(key, value, u_chart) {
        u_chart.data["labels"].push(key);
        u_chart.data["datasets"][0]["data"].push(value);
        u_chart.update()
    }
    </script>
    <script type="text/javascript" src="/static/js/updates.js"></script>
</body>

</html>