<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/styles/main.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/watch.css">
    <meta name="theme-color" content="#ffffff">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>{{code}} STONKS!</title>
</head>

<body>
   <header>
        <div id="title" class="lined">
            <img src="{{url_for('static', filename='logo.png')}}" id="logo" class="lined" onclick='window.location = window.location.origin' style="cursor: pointer;">
            <div class="lined" style="vertical-align: middle; width: 70%;">
                <div id="searchresult">
                    <ul id='sresults'>
                        
                    </ul>
                </div>
                <input type="text" name="search" id='search' placeholder="Search" class="lined">
                <button class="btn btn-secondary" type="button" id="go">
                     <i class="fa fa-search"></i>
                </button>
            </div>
            

        </div>
        <nav class="lined">
            <ul class="lined">
                <li class='navli'>Portfolio</li>
                <li class='navli'>History</li>
                <li class='navli'>Account</li>
            </ul>
        </nav>
    </header>
    <section>
        <article id="mainchart" class="lined">
        	<div id="info">
        		<h2 id="companyname"></h2>
                <div id="downinfo">
                    <h4 id="price" class="lined"></h4><h3 id="stockname" class="lined">{{code}}</h3>
                </div>
        		
        	</div>
            
            <div class="container" id='stock'>
                <canvas id="chart"></canvas>
            </div>
            <form>
                <input type="button" class="time" id="today" value="Real Time">
            	<input type="button" class="time" id="week" value="Last Week">
            	<input type="button" class="time" id="month" value="Last Month">
            	<input type="button" class="time" id="year" value="Last Year">
            </form>
        </article>
        <aside class="lined" id="otherstocks">
            <div id="buysell">
                <form action='/buy' method="post">
                    <input type="number" class="buyshare" name='buyquantity' placeholder="0" />
                    <input style='display:none' name='stock' value="{{code}}">
                    <button id="buy" class="moveshare">Buy share!</button>
                </form>
                <!--<form action='/sell' method="post">
                    <input type="number" id="sellshare" name='sellshare' placeholder="0"/>
                    <input style='display:none' name='stock' value="{{code}}">
                    <button id="sell" class="moveshare" >Sell Share!</button>
                </form>!-->
            </div>
            <div id="hotstocks">
                <div id="hotstockshead">
                    <h2>Hot Stocks!</h2>
                </div>
                <div id="hotstocklist">
                    <ul id="hotul">
                        
                    </ul>
                </div>
            </div>
        </aside>
    </section>
    <script type="text/javascript" src="/static/js/nav.js"></script>
   <script type="text/javascript">
    function getDate() {
        let today = new Date();
        return today.getFullYear() + '-' + (today.getMonth() + 1) + '-' + today.getDate() + ":" + today.getHours() + "-" + today.getMinutes() + "-" + today.getSeconds();
    }


    let mychart = document.getElementById("chart").getContext("2d");
    let name = document.getElementById('stockname').innerText;
    Chart.defaults.global.defaultFontColor = 'white';
    Chart.defaults.global.legend.display = 0;
   
    let chart = new Chart(mychart, {
        type: "line",
        responsive:true,
        maintainAspectRatio: false,
        data: {
            labels: [],
            datasets: [{
                data: [],
                label: name,
                borderColor: "#999999",

            }]

        },
        options: {
    		scales: {
       		xAxes: [{
       			display: false
       		}]
    	},
    	tooltips: {
        callbacks: {
           label: function(tooltipItem) {
                  return tooltipItem.yLabel;
           }
        }
    }
}
    });



    function ChangeValue(key, value, u_chart) {
        u_chart.data["labels"].push(key);
        u_chart.data["datasets"][0]["data"].push(value);
        u_chart.update()
    }
    </script>
    <script type="text/javascript" src="/static/js/updates.js"></script>
</body>

</html>