<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/styles/main.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/watch.css">
    <link rel="apple-touch-icon" sizes="57x57" href="/static/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/staitc/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/staitc/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/staitc/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/staitc/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/staitc/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/staitc/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/staitc/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/staitc/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/staitc/android-icon-192x192.png">
     <link rel="icon" type="image/png" sizes="32x32" href="/staitc/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/staitc/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/staitc/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
    <title>{{code}} STONKS!</title>
</head>

<body>
    <header>
        <div id="title" class="lined">
        	<img src="{{url_for('static', filename='logo.png')}}" id="logo" class="lined" onclick='window.location = window.location.origin' style="cursor: pointer;">
        	<h1 class="lined">Stonks!</h1>
        </div>
        <nav class="lined">
            <ul>
                <li></li>
            </ul>
        </nav>
    </header>
    <section>
        <article class="lined">
        	<div id="info">
        		<h2 id="companyname"></h2>
        		<h3 id="price" class="lined"></h3><h3 id="stockname" class="lined">{{code}}</h3>
        	</div>
            
            <div class="container" id='stock'>
                <canvas id="chart"></canvas>
            </div>
            <form>
                <input type="button" class="time" id="today" value="Real Time">
            	<input type="button" class="time" id="week" value="Last Week">
            	<input type="button" class="time" id="month" value="Last Month">
            	<input type="button" class="time" id="year" value="Last Year">
            </form>
        </article>
        <aside class="lined" id="otherstocks">
            <h3>Other Stocks</h3>
        </aside>
    </section>
   <script type="text/javascript">
    function getDate() {
        let today = new Date();
        return today.getFullYear() + '-' + (today.getMonth() + 1) + '-' + today.getDate() + ":" + today.getHours() + "-" + today.getMinutes() + "-" + today.getSeconds();
    }


    let mychart = document.getElementById("chart").getContext("2d");
    let name = document.getElementById('stockname').innerText;
    Chart.defaults.global.defaultFontColor = 'white';
    Chart.defaults.global.legend.display = 0;
   
    let chart = new Chart(mychart, {
        type: "line",
        data: {
            labels: [],
            datasets: [{
                data: [],
                label: name,
                borderColor: "#999999",

            }]

        },
        options: {
    		scales: {
       		xAxes: [{
       			display: false
       		}]
    	},
    	tooltips: {
        callbacks: {
           label: function(tooltipItem) {
                  return tooltipItem.yLabel;
           }
        }
    }
}
    });



    function ChangeValue(key, value, u_chart) {
        u_chart.data["labels"].push(key);
        u_chart.data["datasets"][0]["data"].push(value);
        u_chart.update()
    }
    </script>
    <script type="text/javascript" src="/static/js/updates.js"></script>
</body>

</html>