
*{
	margin: 0;
	padding: 0;
	font-size: 100%;
	font-family: sans-serif;
	font:inherit;
	vertical-align: baseline;
	border:0;
}

h1, h2, h3, h4, h5, h6, p, li{
	font-family: sans-serif;
	color:white;
}

nav ul{
	width:100%;
	height: 100%;
	text-align: center;
	margin: auto;
	vertical-align: middle;
}

.navli{
	vertical-align: top !important;
	width:20% !important;
	padding: 5px !important;
	margin-top: 5% !important;
	margin-left: 2% !important;
	height: 100% !important;
	-webkit-transition: color 0.2s !important; 
    transition: color 0.2s !important; 
    display: inline-block !important;

}

.navli:hover{
	color:rgb(227, 118, 51) !important;
}


ul, ol{
	list-style: none;
	margin-left: auto;
	float: right;
}

li{
	display: inline-block;
	float:left;
	margin-right: auto;
	margin:auto;

}

body{
	background: #262626;
	overflow-x: hidden;
}


header{
	min-height: 15vh;
	background: rgb(76, 58, 46);
}

.jump{
	display: block;
}

.fade{
	width:100%;
	height: 100%;
	position: absolute;
	background: rgba(25, 25, 25, 0.5);
	z-index: 10;
}


#logo{
	max-width: 5%;
	max-height: 15%;
	margin-top: 3%;
	margin-left:5%;
	vertical-align: middle;
	vertical-align: bottom;
}

#title{
	width:50%;
	height: 100%;
	vertical-align: top;
	text-transform: uppercase;
}


#search{
	width: 60%;
	padding:5px;
	background: rgba(1,1,1, 0.1);
	border:1px solid gray;
	margin:auto;
	border-radius: 10px;
	font-family: sans-serif;
	font-size: 110%;
	color:gray;
	margin-left: 5%;
	vertical-align: bottom;

}

#go{
  width: 5%;
  padding: 15px;
  border-radius: 20px;
  background: #e17534;
  color: white;
  font-size: 17px;
  vertical-align: middle;
  margin-left: 2%;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}




#title h1{
	vertical-align: middle;
	font-size: 180%;
	font-weight: bold;
	margin-top: 2%;
	margin-left: 5%;

}


nav{
	height: 100%;
	width:49%;
}



.lined{
	display:inline-block;
}

.subtext{
	font-size: 80%;
	color:gray;
}
.subtext a{
	color:white;
}
.subtext a:visited{
	color:white;
}



::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
   border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


@media screen and (max-width: 740px){
	#title{
		width: 100%;
		display: block;
	}
	nav{
		display: block;
		width: 100%;
	}
}