#stocklist{
	width: 60%;
	display: inline-block;
	vertical-align: top;
}

aside{
	vertical-align: top;
	float: right;
	width:30%;
	display: inline-block;
	height: 120%;
	background: rgb(73, 69, 66);
	border-radius: 10px;
	overflow-y: auto;
}

aside ul{
	width: 100%;
	height: 100%;
}

.newsindex{
	margin-top: 12%;
	margin-left: 5%;
	padding: 6px;
	border-radius: 15px;
	background: rgb(138, 129, 122);
	display: table;
}

#hotul{
	float: left;
	width:100%;
	background: rgb(76, 58, 46);
	height: 70vh;
	overflow-y: auto;
	border-radius: 5px;
}

#hotul li{
	background: rgb(76, 58, 46);
}

#hotul li:hover{
	background: rgb(129, 101, 77);
}

#stocklist h1{
	width: 100%;
	margin-bottom: 1%;
	padding: 5px;
	text-align: left;
	background: rgb(76, 58, 46);
	font-size: 180%;
	border-radius: 5px;

}