#stocklist{
	width: 60%;
	display: inline-block;
	vertical-align: top;
}

aside{
	vertical-align: top;
	float: right;
	width:30%;
	display: inline-block;
	max-height: 120%;
	background: rgb(73, 69, 66);
	border-radius: 10px;
	overflow-y: auto;
}

aside ul{
	width: 100%;
	height: 100%;
}

.newsindex{
	margin-top: 12%;
	margin-bottom: 5%;
	margin-left: 5%;
	padding: 6px;
	border-radius: 15px;
	background: rgb(138, 129, 122);
	display: table;
}

.stocksection{
	width:50%;
	height: 4vh; 
	background: rgb(76, 58,46);
	/*background: rgb(227, 118, 51);*/
	border-bottom: 4px solid gray ;
	vertical-align: middle;
	text-align: center;
	-webkit-transition: background-color 100ms linear;
    -ms-transition: background-color 100ms linear;
    transition: background-color 100ms linear;
    padding-top: 10px;
    cursor: pointer;
}

#gainers{
	border-top-left-radius: 10px;
	float: left;
}

#losers{
	float:right;
	border-top-right-radius: 10px;
}

#gainers:hover{
	color: #69e233;
}

#losers:hover{
	color: #ff2e19;
}

#gainers .active{
	background: #69e233;
}

#losers .active{
	background: #ff2e19;
}

#hotul{
	float: left;
	width:100%;
	background: rgb(76, 58, 46);
	height: 65vh;
	overflow-y: auto;
	border-radius: 5px;
}

#hotul li{
	background: rgb(76, 58, 46);
}

#hotul li:hover{
	background: rgb(129, 101, 77);
}

#stocklist h1{
	width: 100%;
	margin-bottom: 1%;
	padding: 5px;
	text-align: left;
	background: rgb(76, 58, 46);
	font-size: 180%;
	border-radius: 5px;

}



@media screen and (max-width: 740px){
	#stocklist{
		display: block;
		width:100%;
		vertical-align: bottom;
	}
	#stocklist h1{
		background: none;
		text-align: center;
	}
	#hotul{
		width:100%;
		height:70vh;
	}
	aside{
		vertical-align: top;
		display:block;
		width:100%;
		height: 20%;
	}
	.newsindex{
		margin-top: 4%;
		margin-left: 5%;
		display: inline-block;
	}

	#sections{
		display:none;
	}
}