

section{
	width:90%;
	margin:auto;
	height: 65vh;
	margin-top: 2%;
}

#stock{
	width: 150%;
}

#info{
	min-height: 5vh;
	width: 80%;
	margin-left:10%;
}

#info h3{
	margin-top: 3%;
	margin-bottom: 2%;
	font-size: 80%;
}

#price{
	font-size: 110%;
}

#stockname{
	color:gray;
	margin-left: 3%;

}

#otherstocks{
	vertical-align: top;
	float:right;
	margin-right: 20%;
	margin-top: 10%;
}

.time{
	padding: 5px;
	margin: 2%;
	font-family: sans-serif;
	border-radius: 20px;
	font-size: 90%;
	color:white;
	background:#e17534;
}