ol, li, ul{
	display: block;
	float:initial;
}

section{
	width:90%;
	margin:auto;
	height: 65vh;
	margin-top: 2%;
}

#stock{
	width: 150%;
}

#info{
	min-height: 5vh;
	width: 80%;
	margin-left:10%;
}

#mainchart{
	width: 60%;
	overflow-x: auto;
}

.container{
	max-width: 100%;
	overflow-x: auto;
}

#chart{
	max-width: 100%;
	max-height: 100%;
}


#companyname{
	font-size: 150%;
	
}


#downinfo{
	margin-top: 2%;
}

#info h3{
	margin-top: 3%;
	margin-bottom: 2%;
	font-size: 80%;
}

#price{
	font-size: 200%;

}

#stockname{
	color:gray;
	margin-left: 3%;
}


#otherstocks{
	vertical-align: top;
	float:right;
	width:39%;
	min-height: 80vh;
	max-height: 80vh;
	overflow-y: auto;
	overflow-x: hidden;
}

.time{
	padding: 7px;
	margin: 2%;
	font-family: sans-serif;
	border-radius: 20px;
	font-size: 90%;
	color:white;
	background:#e17534;
	cursor: pointer;
}


.moveshare{
	padding: 7px;
	margin: 2%;
	font-family: sans-serif;
	border-radius: 10px;
	background: #34A0E1;
	color:white;
	cursor: pointer;
}


.buysell{
	width:100%;
	max-height: 25vh;
	text-align: center;
}


#hotstocks{
	margin-left: 10%;
	width:80%;
	height: 47vh;
	margin-top: 5%;
	overflow-y: auto;
	font-style: sans-serif;
	border:2px solid gray;
	background: #151414;
	border-radius: 10px;
}

#hotstockshead{
	border-bottom:3px solid #34A0E1;
	min-height: 15%;
	max-height: 15%;
}


#hotstockshead h2{
	width:100%;
	font-size: 140%;
	margin-top: 2%;
	margin-bottom: 2%;
	font-family: sans-serif;
	text-align: center;
	
}

#hotstocklist{
	min-height: 70%;
	max-height: 74%;
	width:100%;
	overflow-x: hidden;
	overflow-y:auto;
}




.buysell input[type="number"]{
	width:10%;
	padding: 5px;
	text-align: center; 
	background: rgba(25, 25, 25, 0.5);
	border:1px solid white;
	color:white;
	border-radius: 10px;
	font-family: sans-serif;
}



.hotstock{
	margin-top: 3%;
	margin-bottom: 3%;
	padding-top: 5px;
	padding-bottom: 5px; 
	text-align: center;
	background: #262626;
}

.hotstock:hover{
	background: #424040;
}

.hotstock li{ padding: 0px; }

.hotstock a{ 
	margin: 0px; 
	display: block; 
	width: 100%; 
	height: 100%;
	color:white;
	text-decoration: none;
}
.hotstock a:visited{
	color:white;
}


@media screen and (max-width: 740px){

	#mainchart{
		width: 100%;
		display: block;
	}

	#otherstocks{
		float: inherit;
		text-align: center;
		width:90%;
		margin-left:5%;
		min-height: 40vh;
		display: block; 
	}

	#hotstocks{
		margin:0;
		margin-top: 3%;
		margin-left: 5%;
		width:90%;
	}
}